tensorflow-cpu==2.5.0
Flask==2.0.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
Werkzeug==2.0.1
numpy==1.19.5
pandas==1.2.4
keras>=2.4.3
regex==2021.4.4
nltk==3.6.2


